html,body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:62.5%;
}
#hamburger_img{
    height:645px;
    width:auto;
    background-image:url(http://i.imgur.com/9ICHNEl.jpg);
     background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}

/*scrolling_nav_eventually*/
.nav_home{
    margin:0 auto;
    padding:2rem;
    display:block;
    position:relative;
    text-align: center;
    height:1rem;
    width:80%;
}
.nav_home >ul{
    display:inline-block;
    line-height:1rem;
}
.nav_home >ul >li{
    display:inline;
    padding:3rem;
    height:1rem;
    width:calc(100%/6);
    font-size:2rem;
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-family:'roboto';
}
li:hover{
    background-color:#bccf3d;
    border-radius:1rem;
}

/*secondary_nav_dropdown_menu*/
.secondary_nav_dropdown{
    margin:0 auto;
    text-align:center;
    height:3rem;
    width:100%;
    line-height:4rem;
    font-size:1.5rem;
    position:absolute;
    opacity:0;
    transition:0.5s;
    background-color:#ffffff;
    color:#000000;
    text-shadow: 2px 2px 4px #000000;
}
.div_dropdown:focus .secondary_nav_dropdown{
    width:40rem;
    display:block;
    pointer-events:auto;
    opacity:1;
    list-style:none;
}

/*attempt_to_align_under_original_list*/
.locations{
    position:relative;
}
.catering{
    position:relative;
}

/*dropdown_bars_homepage*/
.fa{
    margin:4rem;
    height:2rem;
    width:3rem;
    line-height:2rem;
    color:#ffffff;
    font-size:2.5rem;
    text-align:center;
    float:right;
}
.div_dropdown{
    position:relative;
    display:inline-block;
    float:right;
    width:450px;
}
.onclick-menu-content{
    margin:0 auto;
    text-align:center;
    height:3rem;
    width:100%;
    line-height:4rem;
    font-size:1.5rem;
    position:absolute;
    opacity:0;
    transition:0.5s;
    background-color:#bccf3d;
    color:#ffffff;
    text-shadow: 2px 2px 4px #000000;
    font-family:'roboto';
}
.div_dropdown:focus .onclick-menu-content{
    width:40rem;
    display:block;
    pointer-events:auto;
    opacity:1;
    list-style:none;
}
hr{
    height:1px;
    width:90%;
    color:#000000;
}

/*secondary_dropdown_menu*/
.secondary_dropdown_ul{}
.secondary_dropdown_li{}

/*page_title_special_font*/
.main_title{
    margin:0 auto;
    width:30%;
}
.dusty_logofont{
    text-align: center;
    font-size: 60px;
    color:#ffffff;
    font-family:'pacifico'
}
.simple_font{
    text-align: center;
    font-size: 40px;
    color:#ffffff;
    font-family:'roboto';
}
#welcome_buns{
    
}
.welcome_buns{
    color:#ffc509;
}
#fork_img{
    display:block;
    margin:0 auto;
    position:relative;
    top:-5rem;
}
.thin_font{
    margin:0 auto;
    height:10rem;
    width:100rem;
    font-family:'roboto_thin';
    text-align: justify;
    font-size:20px;
    line-height:3.5rem;
}
/*centering_theword_it*/
#centered_word{
    font-family:'roboto_thin';
    text-align: center;
    font-size:20px;
    line-height:3.5rem;
}

/*giant_flexbox_tryout*/
.flex_sec{
    height:100rem;
    width:100%;
    background-image:url(http://i.imgur.com/F6UAf5U.jpg);
    background-position:center;
    background-repeat: no-repeat;
}
.flexbox{
    display:-webkit-flex;
    display: flex;
    -webkit-flex-wrap:none;
    flex-wrap:nowrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}
/*flex_item_long*/
.flexitem_long{
   height:64rem;
   width:30rem;
   text-align: center;
   
}
.left{
    -webkit-justify-content:left;
}
.flex_header{
    font-family:font-family:'roboto_thin';
}
/*background_flexbox*/
.color_green{
    background-color:#bccf3d;
}
a{
    color:#ffffff;
    text-decoration: none;
}
hr{
    color:#ffffff;
    height:1px;
    width:10px;
}
.phone_number{
    color:#87a049;
}
.phone_number:hover{
    color:#000000;
}
/*color_for_p*/
.flex_white{
    text-transform: uppercase;
    color:#ffffff;
    font-size:12px;
}
/*box2_right_top-flexitem_short*/
.flex_item_short{
   height:32rem;
   width:36rem;
   text-align: center;
}
.right{-webkit-justify-content:right;}
.color_orange{
    background-color:#ffc509;
}
/*bold_h1_flexbox*/
#bold_title_inflex{
    color:#ffffff;
    font-size:30px;
}

/*media_section*/
.sec_media{
   height:20rem;
    width:100%;
}
#contact{
    height:20rem;
    width:calc(100%/3);
    float:left;
}
#follow{
    height:20rem;
    width:calc(100%/3);
 float:left;
}
#company{
    height:20rem;
    width:calc(100%/3);
    float:right
}
.orange_font{
    text-transform: capitalize;
    font-size:20px;
    font-family:'roboto_thin';
    color:#ffc637;
}
.media_a{
    color:#9baba7;
    font-size:20px;
}
.media_a:hover{
    color:#000000;
}

/*footer_homepage*/
#footer_home{
    height:30rem;
    background-image: url(http://i.imgur.com/a998KsK.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}
.logo_link{
    font-family:'pacifico';
    font-size:35px;
    color:#ffffff;
}
#yellow_font{
    font-size: 16px;
    color:#f5bd2b;
}
q{
    font-size:30px;
    color:#ffffff;
}

/*sfbistro*/
/*fbistro*/
/*fbus*/
/*about*/
.nomove_nav{
    height:10rem;
    width:100%;
    position:fixed;
    top:0;
    background-color:#ffffff;
}
.black_font{
    margin:2rem;
    padding:1rem;
    position: relative;
    top:1.5rem;
    font-weight: bold;
    font-style: italic;
    color:#000000;
}
.no_nav{
    display:block;
    height: 4rem;
    width:80%;
    position:absolute;
    top:2.5rem;
    right:.5rem;
}
.no_ul{
    display:inline-block;
    height: 4rem;
    width:100%;
    line-height: 4rem;
}
.no_li{
    margin:0 4%;
    padding:0;
    display:inline-block;
    height: 4rem;
    font-size:2rem;
}
.nomove_a{
    color:#000000;
}
 .nomove_a:hover{
    color:#bccf3d;
     background-color:#ffffff;
     transition-duration: 1s;
}
/*clickable_dropdown_subnav*/
input[type=checkbox]{
    display: none;
}
.second_drop{
    display: none;
}
input[type=checkbox]:checked ~ .second_drop {
    display: block
}
/*background_img_section*/
.backgroundimg_sec{
    height:100rem;
    width:auto;
    background-image: url(http://i.imgur.com/EGiTFRs.jpg);background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.abouth1{
    position: relative;
   top:30rem;
}
story_sec{
    margin:5rem;    
    height:50rem;
    width:80%;
}
#kiss_img{
    margin:5rem;
    display: block;
    position: relative;
    float:left;
}
#green_title{
    height: auto;
    width:20rem;
    position:relative;
    right:-95rem;
    top:-41rem;
    color:#bccf3d;
 font-size:30px;
}
/*wraparound_text*/
#kiss{
    height:40rem;
    width:70rem;
    text-align: justify;
    text-indent: 2em;
    font-size: 20px;
    float:right;
    transform:translateY(-50rem);
}
#slider_sec{
    margin:2rem;
    height:100rem;
    width:auto;
    background-color:#bccf3d;
}
.centered_title{
    margin:0 auto;
    height: 10rem;
    width:40rem;
    text-align: center;
    top:-20rem;
    display:block;
}
/*slider_only*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
    /*display:inline;*/
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
/*catering*/
/*flunch*/
/*sflunch*/
/*contact*/
.gold_font{
    margin:10rem;
    color:#ffc300; 
}
/*interactive_map*/
#map_sec{
   height:50rem;
   width:100%;
   position:relative;
    display: block;
    text-align: center;
}

/*careers*/
#careers{
    height:100rem;
    width:auto;
    background-image: url(http://i.imgur.com/L6NEx3Y.jpg);background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#greenfont{
    height: 7rem;
    width:30rem;
    color:#bccf3d;
    font-size: 7rem;
    position:relative;
    top:30rem;
    margin:0 auto;
}
h4{
    color:#ffffff;
    font-size:20px;
    text-align: center;
    position:relative;
    top:40rem;
}
#career_info{
    height:50rem;
    width:auto;
}
p{
    padding:1rem;
    height: 10rem;
    width:80rem;
    font-size: 20px;
}
ol{
    height: 25rem;
    width:80rem;
    font-size: 20px;
    list-style: none; 
}
#special_liststyle:hover{
    background-color:transparent;
}
/* Insert_content_that_looks like_bullets */
#special_liststyle:before {
    content: "-"; 
    padding-right: 8px;
}
#orangefont{
    color:#ffc300;
    width:20rem;
}
#side_div{
    height:40rem;
    width:20rem;
    position:relative;
    right:-90rem;
    top:-40rem;
}
#green_hr{
    height: 1px;
    width:10px;
    color:#bccf3d;
}